.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: $indigo-light;
    box-shadow: 0px 2px 2px #1A237E;

    .nav {
        min-height: 50px !important;
        background-color: $indigo1;
        button:hover {
            color: #FFE0B2;
            background-color: none !important;
        } 
        button:focus  {
            background-color: $indigo-dark;
        }
        color: $indigo-light;
    }
    .header-name-display {
        font-size: 15px;
    }

}

.fill-remaining-space {
    flex: 1 1 auto;
}

md-toolbar md-toolbar-row {
  height: 50px !important;
}

md-button {

}