<div class="header">
    <md-toolbar class="nav">
        <i class="material-icons md-48 head-icon">directions_bike</i>

        <button 
            md-button 
            routerLink="/">
            Discover Rides
        </button>

        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button md-button routerLink="/network">Network</button>
            <button md-button routerLink="/lead">Lead Ride</button>
        </div>
        <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
            <md-icon>menu</md-icon>
        </button>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <button 
                md-button 
                routerLink="/">
                <i class="material-icons md-36">face</i>
                USER NAME
                <i class="material-icons">menu</i>
        </button>
    </md-toolbar>

    <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item routerLink="/network">Network</button>
        <button md-menu-item routerLink="/lead">Lead Ride</button>
    </md-menu>
</div>