<div class="header">
    <mat-toolbar class="nav">
        <i class="material-icons mat-48 head-icon">directions_bike</i>

        <button 
            mat-button
            disableRipple
            routerLink="/">
            Discover Rides
        </button>

        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button mat-button disableRipple routerLink="/network">Network</button>
            <button mat-button disableRipple routerLink="/lead">Lead Ride</button>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
            <i class="material-icons">menu</i>
        </button>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <div [hidden]="!auth.isAuthenticated()">
            <button 
                    mat-button
                    disableRipple
                    routerLink="/"
                    (click)="auth.logout()">
                    <i class="material-icons mat-36">face</i>
                    USER NAME
                    <i class="material-icons">menu</i>
            </button>
        </div>
        <div [hidden]="auth.isAuthenticated()">
            <button 
                mat-button
                disableRipple
                routerLink="/"
                (click)="auth.login()">
                <i class="material-icons mat-36">face</i>
                SIGN IN
            </button>
        </div>

    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="/network">Network</button>
        <button mat-menu-item routerLink="/lead">Lead Ride</button>
    </mat-menu>
</div>