
.font {
    font-family: 'Arvo';
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}

.mat-list {
    margin-top: 10px;
}
mat-grid-tile {
    left: 0;
    right: 0;
    top: 150px;
    :hover {
        background-color: #FFE0B2;
        transition: 0.2s;
    }
}
.example-header-image {
    background-size: cover;
}

.leadRoutesList {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 150px;
    //width: 30%;
    height: 40%;
    :hover {
        background-color: #FFE0B2;
        transition: 0.2s;
        cursor: pointer;
    }
}
mat-card {
    margin-bottom: 10px;
}