<div class="ride-container">
    <mat-list>
        <mat-list-item *ngFor="let route of routeData.routes" class="font" style="height: 100px; box-shadow: 1px 2px 2px lightgrey">
            <h3 mat-line>{{ route.name }}</h3>
            <p mat-line>{{ route.description }} </p>
            <p mat-line><span class="color"> Creator:</span> {{ route.athlete.firstname }} {{ route.athlete.lastname }}</p>
            <p mat-line><span class="color"> Date Created: </span> {{ route.created_at | date }}</p>
            <img [src]="this.getSmallMap(route.map.summary_polyline)">
        </mat-list-item>
    </mat-list>
</div>