<div class="ride-container">
  <mat-list>
    <mat-list-item class="font" style="box-shadow: 1px 2px 2px lightgrey">
      <h3 style="font-weight: bold" mat-line>Mountain Mash</h3>
      <p mat-line>Leader: Alonzo Alden</p>
      <p mat-line>Time:</p>
    </mat-list-item>
    <mat-list-item class="font" style="box-shadow: 1px 2px 2px lightgrey">
      <h3 style="font-weight: bold" mat-line>Chill Ride thru apple valley</h3>
      <p mat-line><span class="color"> Leader:</span> Alonzo Alden</p>
      <p mat-line><span class="color">Time:</span></p>
    </mat-list-item>
  </mat-list>
</div>