.discover-container {
    margin-top: 43px;
    border: 0px solid black;
    height: 80vh;
    right: 0;
    left: 0;
    position: absolute;
    background-color: lightblue;
    z-index: 1;
    font-family: 'Arvo';
    .ride-list {
        margin: 0px;
        width: 30%;
        overflow: scroll;
        border-radius: 3px;
        box-shadow: 3px 3px 3px darkgray;
    }
}
