.discover-container {
    margin-top: 57px;
    border: 1px solid black;
    height: 80vh;
    right: 0;
    left: 0;
    position: absolute;
    .ride-list {
        border: 1px solid black;
        width: 40%;
        overflow: scroll;
    }
}
