.discover-container {
    margin-top: 8vh;
    height: 91vh;
    right: 0;
    left: 0;
    position: absolute;
    background-color: lightblue;
    z-index: 1;
    font-family: 'Arvo';
    .ride-list {
        width: 35%;
        overflow: scroll;
        border-radius: 3px;
        box-shadow: 3px 3px 3px darkgray;
        .center {
            margin: 200px auto;
        }
    }
}
mgl-map {
    height: 100%;
    width: 100%;
    position: absoulute;
}