.map-form {
    position: absolute;
    display: inline-block;
    left: 10%;
    right: 10%;
    height: 30vh;
    margin-top: 60px;
}

.content {
    margin-top: 6vh;
    height: 92vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content .statview {
    margin-top: 50px;
}
.content .form {
    position: absolute;
    top: calc(100% - 50%);
    
    margin: auto;
    right: 10%;
    left: 10%;   
}

.content .form .inner-form {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 30px;
}
.top-banner {
    background-color: lightblue;
}