<div class="route-form">
	
	<div class="top-banner">
		<h2>Enter Ride Details</h2>
	</div>
    
    <map class="map-form">
    </map>
    <div class="form">
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    </div>

</div>

