.route-form {
    margin-top: 6vh;
    height: 93vh;
    position: absolute;
    left: 0;
    right: 0;

    .top-banner {
        //padding-top: 30px;
        padding-bottom: 8px;
        padding-left: 30px;
        color: #3F51B5;
        //background-color: #3F51B5;
    }
    .map-form {
        position: absolute;
        left: 0;
        right: 0;
        height: 33vh;
    }
    .form {
        position: relative;
        //background-color: skyblue;
        height: 100%;
        //display: flex;
        flex-direction: column;
        //justify-content: space-evenly;
        margin: 0 auto;
        margin-top: 40vh;
        width: 50%;
        .item {
            margin-bottom: 20px;
        }
    }
}